@import "tailwindcss";

@theme {
  --color-brand: #9e6b72;
  --color-brand-dark: #7f545a;
  --color-secondary: #d1c8c0;
  --color-dark: #2d322f;
  --color-light: #ebedea;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-display: "Oswald", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
}
